.author__container {
  /* display: flex; */
  display: grid;
  grid-template-columns: 37.662% 1fr;
}

@media screen and (max-width: 540px) {
  .author__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}