.search__error {
  color: #fff;
  margin: 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 786px) {
  .search__error {
    bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .search__error {
    bottom: 10px;
  }
}
