.cards__container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 64px;
}

@media screen and (max-width: 768px) {
  .cards__container {
    padding-top: 40px;
    padding-bottom: 40px;
    grid-gap: 32px;
  }
}

@media screen and (max-width: 540px) {
  .cards__container {
    padding-top: 32px;
    padding-bottom: 32px;
    grid-gap: 24px;
  }
}