.card__description {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 16px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  .card__description {
    margin-top: 10px;
    -webkit-line-clamp: 4;
  }
}
