.footer__copyright {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;

  color: #B6BCBF;

  grid-area: copyright;
}

@media screen and (max-width: 540px) {
  .footer__copyright {
    margin-top: 38px;
  }
}