@import url('./_theme/menu__hamburger_theme_dark.css');
@import url('./_theme/menu__hamburger_theme_light.css');

.menu__hamburger {
  display: none;
}

@media screen and (max-width: 720px) {
  .menu__hamburger {
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
  }
}