<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="NewsExplorer позволяет искать новости по ключевым словам и сохранять их в личном кабинете. Фронтэнд по дипломной работе Яндекс.Практикум">
  <meta name="author"
        content="Осипенков Евгений">
  <meta name="keywords"
        content="HTML, CSS, JavaScript, REST API, Webpack">
  <link rel="stylesheet"
        href="<%= htmlWebpackPlugin.files.css %>">
  <link rel="icon"
        type="image/png"
        href="../<%=require('../../assets/ui/icons/favicon.svg')%>">
  <title>NewsExplorer</title>
</head>
<body class="body font font_family_roboto">
  <template id="header">
    <header class="font font_color_dark header header_theme_dark body__header body__header_position_normal">
      <div class="container header__container">
        <h1 class="font font_family_roboto-slab header__logo">NewsExplorer</h1>

        <nav class="menu header__menu">
          <input class="menu__checkbox" type="checkbox">

          <div class="menu__hamburger menu__hamburger_theme_dark" tabindex="0"></div>

          <ul class="menu__list header__menu-list">
            <li class="menu__item">
              <a href="../" class="font font_family_roboto-slab menu__logo">NewsExplorer</a>
            </li>
            <li class="menu__item">
              <a href="../" class="link menu__link menu__link_theme_dark">Главная</a>
            </li>
            <li id="logged-only-link" class="menu__item">
              <a href="../bookmarks/" class="link menu__link menu__link_active menu__link_theme_dark">Сохранённые статьи</a>
            </li>
            <li class="menu__item">
              <button class="button button_type_dark button_type_transparent button_logout_dark menu__button"></button>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </template>

  <main class="main body__main">
    <section class="font font_color_dark info main__info">
      <div class="container info__container">
        <h2 class="info__name">Сохранённые статьи</h2>

        <h3 class="font font_family_roboto-slab title info__title"><span class="info__user-name"></span>, у вас <span class="info__articles"></span><span class="info__saved-articles"></span></h3>

        <p class="description info__description">По ключевым словам:
          <span class="info__keywords"></span>
      </div>
    </section>

    <section class="font font_color_dark cards main__cards">
      <div class="preloader cards__container cards__container_type_pending cards__container_hidden">
        <div class="preloader__image preloader__image_type_pending"></div>
        <p class="preloader__description">Идет поиск новостей...</p>
      </div>

      <div class="preloader cards__container cards__container_type_error cards__container_hidden">
        <div class="preloader__image preloader__image_type_failed"></div>
        <p class="preloader__description preloader__description_type_error">Во время запроса произошла ошибка. Возможно, проблема с соединением или сервер недоступен. Подождите немного и попробуйте ещё раз.</p>
      </div>

      <div class="container cards__container cards__container_type_success cards__container_hidden">
        <div class="cards__results"></div>
      </div>
    </section>
  </main>

  <footer class="footer body__footer">
    <div class="container footer__container">
      <small class="footer__copyright">&copy; 2020 Supersite, Powered by News API</small>

      <ul class="footer__items footer__items_direction_column">
        <li class="footer__item footer__item_direction_column">
          <a
            href="../"
            class="link footer__link"
          >Главная</a>
        </li>
        <li class="footer__item footer__item_direction_column">
          <a
            href="https://praktikum.yandex.ru"
            rel="noopener noreferrer"
            target="_blank"
            class="link footer__link"
          >Яндекс.Практикум</a>
        </li>
      </ul>

      <ul class="footer__items footer__items_direction_row">
        <li class="footer__item footer__item_direction_row">
          <a
            href="https://github.com/evgenii-code"
            rel="noopener noreferrer"
            target="_blank"
            class="footer__link"
          >
            <img src="../<%=require('../../assets/ui/logos/github.svg')%>" alt="Github лого" class="footer__logo">
          </a>
        </li>
        <li class="footer__item footer__item_direction_row">
          <a
            href="https://facebook.com"
            rel="noopener noreferrer"
            target="_blank"
            class="footer__link"
          >
            <img src="../<%=require('../../assets/ui/logos/facebook.svg')%>" alt="Facebook лого" class="footer__logo">
          </a>
        </li>
      </ul>
    </div>
  </footer>

  <template id="card">
    <a
      class="font font_color_dark card cards__card"
      href=""
      rel="noopener noreferrer"
      target="_blank"
    >
      <div class="card__icon-container">
        <div class="card__icon"></div>
      </div>

      <picture>
        <img
          src="../<%=require('../../assets/ui/icons/image-not-found.svg')%>"
          alt="Фотография к новости"
          class="card__image">
      </picture>

      <div class="card__container">
        <time class="font font_family_source card__date" datetime=""></time>
        <h3 class="font font_family_roboto-slab card__title"></h3>
        <p class="card__description"></p>
        <address class="font font_family_roboto-slab card__address"></address>
      </div>
    </a>
  </template>

  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>