@import url('./_hidden/menu__item_hidden.css');

.menu__item {
  display: flex;
  margin-left: 32px;
}

.menu__item:first-of-type {
  display: none;
  margin-left: 0;
}

.menu__item:nth-of-type(2) {
  margin-left: 0;
}

@media screen and (max-width: 720px) {
  .menu__item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0;
    padding: 16px 40px;
  }

  .menu__item:first-of-type {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 68px;
  }

  .menu__item:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 540px) {
  .menu__item {
    padding: 16px;
  }
}

@media screen and (max-width: 320px) {
  .menu__item:first-of-type {
    min-height: 56px;
  }
}