@import url('./__list/menu__list.css');
@import url('./__item/menu__item.css');
@import url('./__link/menu__link.css');
@import url('./__button/menu__button.css');
@import url('./__hamburger/menu__hamburger.css');
@import url('./__checkbox/menu__checkbox.css');

.menu {
  display: flex;
  align-items: stretch;
}


@media screen and (max-width: 540px) {
  .popup_is-opened ~ .header .header__container .menu {
    display: none;
  }
}