<!DOCTYPE html>
<html lang="ru">
<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="<%= htmlWebpackPlugin.files.css %>">
  <link rel="icon"
        type="image/png"
        href="<%=require('./assets/ui/icons/favicon.svg')%>">
  <title>NewsExplorer</title>
</head>
<body class="body font font_family_roboto">
  <header class="header header_position_normal header_theme_dark font font_color_dark">
    <div class="header__container container">
      <h1 class="header__logo font font_family_roboto-slab">NewsExplorer</h1>

      <nav class="header__menu menu">
        <input class="menu__checkbox" type="checkbox">

        <div class="menu__hamburger" tabindex="0"></div>

        <ul class="menu__list">
          <li class="menu__item">
            <a href="/" class="menu__link link link_theme_dark">Главная</a>
          </li>
          <li class="menu__item">
            <a href="/bookmarks.html" class="menu__link menu__link_active link link_theme_dark">Сохранённые статьи</a>
          </li>
          <li class="menu__item">
            <button class="menu__button button button_type_dark button_type_transparent button_logout_dark">Грета</button>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main">
    <section class="main__info info font font_color_dark">
      <div class="info__container container">
        <h1 class="info__name">Сохранённые статьи</h1>

        <h2 class="info__title title font_family_roboto-slab">Грета, у вас 5 сохранённых статей</h2>

        <p class="info__description description">По ключевым словам: <b class="info__description_style_bold">Природа</b>, <b class="info__description_style_bold">Тайга</b> и <b class="info__description_style_bold">2 другим</b></p>
      </div>
    </section>

    <section class="main__cards cards font font_color_dark">
      <div class="cards__container container">
        <div class="cards__results">
          <article class="cards__card card">
            <p class="card__keyword">Природа</p>

            <div class="card__icon-container">
              <div class="card__icon card__icon_type_unmarked"></div>
            </div>

            <picture>
              <img
                src="<%=require('./assets/images/card.jpg')%>"
                alt="Фотография к новости"
                class="card__image">
            </picture>

            <div class="card__container">
              <time class="card__date font font_family_source">2 августа, 2019</time>
              <h3 class="card__title font font_family_roboto-slab">Национальное достояние – парки</h3>
              <p class="card__description">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
              <address class="card__address font font_family_roboto-slab">Лента.ру</address>
            </div>
          </article>

          <article class="cards__card card">
            <p class="card__keyword">Природа</p>

            <div class="card__icon-container">
              <div class="card__icon card__icon_type_marked"></div>
            </div>

            <picture>
              <img
                src="<%=require('./assets/images/card.jpg')%>"
                alt="Фотография к новости"
                class="card__image">
            </picture>

            <div class="card__container">
              <time class="card__date font font_family_source">2 августа, 2019</time>
              <h3 class="card__title font font_family_roboto-slab">Лесные огоньки: история одной фотографии</h3>
              <p class="card__description">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы запечатлеть ускользающую красоту одного из местных чудес природы.</p>
              <address class="card__address font font_family_roboto-slab">Афиша</address>
            </div>
          </article>

          <article class="cards__card card">
            <p class="card__keyword">Природа</p>

            <div class="card__icon-container">
              <div class="card__icon card__icon_type_unmarked "></div>
            </div>

            <picture>
              <img
                src="<%=require('./assets/images/card.jpg')%>"
                alt="Фотография к новости"
                class="card__image">
            </picture>

            <div class="card__container">
              <time class="card__date font font_family_source">2 августа, 2019</time>
              <h3 class="card__title font font_family_roboto-slab">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
              <p class="card__description">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
              <address class="card__address font font_family_roboto-slab">Медиазона</address>
            </div>
          </article>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer__container container">
      <small class="footer__copyright">© 2020 Supersite, Powered by News API</small>

      <ul class="footer__items footer__items_direction_column">
        <li class="footer__item footer__item_direction_column">
          <a
            href=""
            class="footer__link link link_theme_dark"
          >Главная</a>
        </li>
        <li class="footer__item footer__item_direction_column">
          <a
            href="https://praktikum.yandex.ru"
            rel="noopener noreferrer"
            target="_blank"
            class="footer__link link link_theme_dark"
          >Яндекс.Практикум</a>
        </li>
      </ul>

      <ul class="footer__items footer__items_direction_row">
        <li class="footer__item footer__item_direction_row">
          <a
            href="https://github.com/evgenii-code"
            rel="noopener noreferrer"
            target="_blank"
            class="footer__link"
          >
            <img src="<%=require('./assets/ui/logos/github.svg')%>" alt="Github лого" class="footer__logo">
          </a>
        </li>
        <li class="footer__item footer__item_direction_row">
          <a
            href="https://facebook.com"
            rel="noopener noreferrer"
            target="_blank"
            class="footer__link"
          >
            <img src="<%=require('./assets/ui/logos/facebook.svg')%>" alt="Facebook лого" class="footer__logo">
          </a>
        </li>
      </ul>
    </div>
  </footer>

  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>