<!DOCTYPE html>
<html lang="ru">
<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="<%= htmlWebpackPlugin.files.css %>">
  <link rel="icon"
        type="image/png"
        href="<%=require('./assets/ui/icons/favicon.svg')%>">
  <title>NewsExplorer</title>
</head>
<body class="body font font_family_roboto">
  <!-- Попап "Вход" -->
  <div class="body__popup popup">
    <div class="popup__content">
      <img src="<%=require('./assets/ui/icons/close-light.svg')%>" alt="Закрыть попап" class="popup__close">

      <h3 class="popup__title">Вход</h3>

      <form class="popup__form font font_family_inter" name="signin">
        <label class="popup__label">Email
          <input
                type="email"
                name="email"
                class="popup__input popup__input_type_email"
                placeholder="Введите почту"
                minlength="2"
                maxlength="30"
                required>
          <p class="popup__error" aria-live="polite">Неправильный формат email</p>
        </label>

        <label class="popup__label">Пароль
          <input
                type="password"
                name="password"
                class="popup__input popup__input_type_password"
                placeholder="Введите пароль"
                minlength="8"
                required>
          <p class="popup__error" aria-live="polite"></p>
        </label>

        <p class="popup__error popup__error_align_center" aria-live="polite"></p>

        <button name="signinButton" class="button button_type_colored popup__button" disabled>Войти</button>
      </form>

      <p class="popup__text font font_family_inter">Или <button class="popup__choice popup__choice_display_inline">Зарегистрироваться</button></p>
    </div>
  </div>

  <!-- Попап "Регистрация" -->
  <!-- popup_is-opened - класс для открытия попапа -->
  <div class="body__popup popup">
    <div class="popup__content">
      <img src="<%=require('./assets/ui/icons/close-light.svg')%>" alt="Закрыть попап" class="popup__close">

      <h3 class="popup__title">Регистрация</h3>

      <form class="popup__form font font_family_inter" name="signup">
        <label class="popup__label">Email
          <input
                type="email"
                name="email"
                class="popup__input popup__input_type_email"
                placeholder="Введите почту"
                minlength="2"
                maxlength="30"
                required>
          <p class="popup__error" aria-live="polite">Неправильный формат email</p>
        </label>

        <label class="popup__label">Пароль
          <input
                type="password"
                name="password"
                class="popup__input popup__input_type_password"
                placeholder="Введите пароль"
                minlength="8"
                required>
          <p class="popup__error" aria-live="polite"></p>
        </label>

        <label class="popup__label">Имя
          <input
                type="text"
                name="name"
                class="popup__input popup__input_type_name"
                placeholder="Введите свое имя"
                minlength="2"
                maxlength="30"
                required>
          <p class="popup__error" aria-live="polite"></p>
        </label>

        <p class="popup__error popup__error_align_center" aria-live="polite">Такой пользователь уже существует</p>

        <button name="signinButton" class="button button_type_colored popup__button" disabled>Войти</button>
      </form>

      <p class="popup__text font font_family_inter">Или <button class="popup__choice popup__choice_display_inline">Войти</button></p>
    </div>
  </div>

  <!-- Попап "Успешная регистрация" -->
  <div class="body__popup popup">
    <div class="popup__content">
      <img src="<%=require('./assets/ui/icons/close-light.svg')%>" alt="Закрыть попап" class="popup__close">

      <h3 class="popup__title">Пользователь успешно зарегистрирован!</h3>

      <button class="popup__choice popup__choice_display_block">Войти</button>
    </div>
  </div>

  <header class="header header_theme_light font font_color_light body__header body__header_position_overlaid">
    <div class="container header__container">
      <h1 class="font font_family_roboto-slab header__logo">NewsExplorer</h1>

      <nav class="menu header__menu">
        <input class="menu__checkbox" type="checkbox">

        <div class="menu__hamburger menu__hamburger_theme_light" tabindex="0"></div>

        <ul class="menu__list">
          <li class="menu__item">
            <a href="/" class="link menu__link menu__link_active menu__link_theme_light">Главная</a>
          </li>
          <li class="menu__item">
            <a href="/bookmarks.html" class="link menu__link menu__link_theme_light">Сохранённые статьи</a>
          </li>
          <li class="menu__item">
            <button class="button button_type_light button_type_transparent button_logout_light menu__button">Грета</button>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main body__main">
    <section class="font font_color_light search main__search">
      <div class="search__container">
        <h2 class="font font_family_roboto-slab search__title">Что в мире творится?</h2>
        <p class="search__description">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</p>
        <form class="search__field">
          <input class="search__input" type="text" placeholder="Введите тему новости">
          <button class="button button_type_colored search__button">Искать</button>
        </form>
      </div>
    </section>

    <section class="font font_color_dark cards main__cards">
      <div class="container cards__container">
        <h2 class="font font_family_roboto-slab cards__title">Результаты поиска</h2>

        <div class="cards__results">
          <article class="card cards__card">
            <div class="card__icon-container card__icon-container_unauth">
              <div class="card__icon card__icon_type_unmarked"></div>
            </div>

            <picture>
              <img
                src="<%=require('./assets/images/card.jpg')%>"
                alt="Фотография к новости"
                class="card__image">
            </picture>

            <div class="card__container">
              <time class="font font_family_source card__date">2 августа, 2019</time>
              <h3 class="font font_family_roboto-slab card__title">Национальное достояние – парки</h3>
              <p class="card__description">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
              <address class="font font_family_roboto-slab card__address">Лента.ру</address>
            </div>
          </article>

          <article class="card cards__card">
            <div class="card__icon-container">
              <div class="card__icon card__icon_type_marked"></div>
            </div>

            <picture>
              <img
                src="<%=require('./assets/images/card.jpg')%>"
                alt="Фотография к новости"
                class="card__image">
            </picture>

            <div class="card__container">
              <time class="font font_family_source card__date ">2 августа, 2019</time>
              <h3 class="font font_family_roboto-slab card__title">Лесные огоньки: история одной фотографии</h3>
              <p class="card__description">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы запечатлеть ускользающую красоту одного из местных чудес природы.</p>
              <address class="font font_family_roboto-slab card__address">Афиша</address>
            </div>
          </article>

          <article class="card cards__card">
            <div class="card__icon-container card__icon-container_unauth">
              <div class="card__icon card__icon_type_unmarked "></div>
            </div>

            <picture>
              <img
                src="<%=require('./assets/images/card.jpg')%>"
                alt="Фотография к новости"
                class="card__image">
            </picture>

            <div class="card__container">
              <time class="font font_family_source card__date">2 августа, 2019</time>
              <h3 class="font font_family_roboto-slab card__title ">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
              <p class="card__description">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
              <address class="font font_family_roboto-slab card__address">Медиазона</address>
            </div>
          </article>
        </div>

        <button class="button button_type_light cards__button">Показать еще</button>
      </div>
    </section>

    <section class="author main__author">
      <div class="container author__container">
        <picture>
          <source src="<%=require('./assets/images/author-avatar-small.jpg')%>" media="(min-width: 480px)">
          <img src="<%=require('./assets/images/author-avatar-normal.jpg')%>" alt="Фото автора" class="author__image">
        </picture>

        <div class="author__about">
          <h2 class="font font_family_roboto-slab author__title">Об авторе</h2>

          <p class="author__description">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.</p>
          <p class="author__description">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer body__footer">
    <div class="container footer__container">
      <small class="footer__copyright">© 2020 Supersite, Powered by News API</small>

      <ul class="footer__items footer__items_direction_column">
        <li class="footer__item footer__item_direction_column">
          <a
            href=""
            class="link footer__link"
          >Главная</a>
        </li>
        <li class="footer__item footer__item_direction_column">
          <a
            href="https://praktikum.yandex.ru"
            rel="noopener noreferrer"
            target="_blank"
            class="link footer__link"
          >Яндекс.Практикум</a>
        </li>
      </ul>

      <ul class="footer__items footer__items_direction_row">
        <li class="footer__item footer__item_direction_row">
          <a
            href="https://github.com/evgenii-code"
            rel="noopener noreferrer"
            target="_blank"
            class="footer__link"
          >
            <img src="<%=require('./assets/ui/logos/github.svg')%>" alt="Github лого" class="footer__logo">
          </a>
        </li>
        <li class="footer__item footer__item_direction_row">
          <a
            href="https://facebook.com"
            rel="noopener noreferrer"
            target="_blank"
            class="footer__link"
          >
            <img src="<%=require('./assets/ui/logos/facebook.svg')%>" alt="Facebook лого" class="footer__logo">
          </a>
        </li>
      </ul>
    </div>
  </footer>

  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>