.menu__button {
  min-height: 48px;
  min-width: 176px;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .menu__button {
    min-height: 40px;
  }
}

@media screen and (max-width: 720px) {
  .menu__button {
    color: #fff;
    border-color: #fff;
  }

  .menu__button:after {
    background-image: url('../../../assets/ui/icons/logout-white.svg');
  }
}

@media screen and (max-width: 540px) {
  .menu__button {
    width: 100%;
    min-height: 56px;
  }
}